
body{
    font-family: Vazir;
    text-align: right;
    direction: rtl;
    font-weight: 300;
    color: #5a5a5a;

}
#sidebar{
    height: 100%;
    position: sticky;
    top: 62px;
    z-index: 2000;
    
}
#sidebar.collapsing{
    height: 0;
}




@media(min-width:992px){
    #sidebar{
        height: calc(100vh - 62px) !important;
        position: fixed;
        transition: transform .5s linear;
    }
    #sidebar.collapse {
        transform: translate(100% , 0);
        
        
    }
    
    #sidebar.collapse.show{
        transform: translate(0 , 0);
    }
    
    #sidebar.collapsing{
        
        transform: translate(100% , 0);
    }
}

#sidebar .nav-link {
    color: #fff;
}

#sidebar .mdi {
    transition: .3s transform ease-in-out;
}

#sidebar .mdi-chevron-left{
    transform: rotate(-90deg);
}
#sidebar .collapsed .mdi-chevron-left{
    transform: rotate(0deg);
}


